In [1]:
import sys

sys.path.append("../pipeline")

import polars as pl

from pipeline import Reader

In [2]:
Reader.read_csv("../model/sample.csv").head()

shape: (5, 6)
┌──────────┬─────┬────────┬────────┬─────────────┬─────────────┐
│ DATE     ┆ ID  ┆ VALUE1 ┆ VALUE2 ┆ LAT         ┆ LONG        │
│ ---      ┆ --- ┆ ---    ┆ ---    ┆ ---         ┆ ---         │
│ str      ┆ str ┆ str    ┆ str    ┆ str         ┆ str         │
╞══════════╪═════╪════════╪════════╪═════════════╪═════════════╡
│ 2024/1/1 ┆ 1   ┆ 100    ┆ 90     ┆ 35.6814279  ┆ 139.7671784 │
│ 2024/1/1 ┆ 2   ┆ 200    ┆ 80     ┆ 35.7140332  ┆ 139.7770907 │
│ 2024/1/1 ┆ 3   ┆ 300    ┆ 70     ┆ 35.68964035 ┆ 139.7005604 │
│ 2024/1/2 ┆ 1   ┆ 200    ┆ 80     ┆ 35.6814279  ┆ 139.7671784 │
│ 2024/1/2 ┆ 2   ┆ 300    ┆ 70     ┆ 35.7140332  ┆ 139.7770907 │
└──────────┴─────┴────────┴────────┴─────────────┴─────────────┘

In [3]:
df = pl.read_csv("../model/sample.csv", encoding="cp932", infer_schema_length=0)
df = df.with_columns([pl.lit("ああああ").alias("テスト")])
df.head(1)

shape: (1, 7)
┌──────────┬─────┬────────┬────────┬────────────┬─────────────┬──────────┐
│ DATE     ┆ ID  ┆ VALUE1 ┆ VALUE2 ┆ LAT        ┆ LONG        ┆ テスト   │
│ ---      ┆ --- ┆ ---    ┆ ---    ┆ ---        ┆ ---         ┆ ---      │
│ str      ┆ str ┆ str    ┆ str    ┆ str        ┆ str         ┆ str      │
╞══════════╪═════╪════════╪════════╪════════════╪═════════════╪══════════╡
│ 2024/1/1 ┆ 1   ┆ 100    ┆ 90     ┆ 35.6814279 ┆ 139.7671784 ┆ ああああ │
└──────────┴─────┴────────┴────────┴────────────┴─────────────┴──────────┘

In [4]:
# df.write_csv("../output/sample.csv", include_bom=True)

In [5]:
# df = pl.read_excel("../input/sample.xlsx", read_options={"skip_rows": 5, "infer_schema_length": 0})
# df.head(1)

In [6]:
# df.write_csv("../output/sample.csv", include_bom=True)